*{
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  height: 100vh;
  font-family: "Open Sans", sans-serif;
  background:url(../img/i\ \(49\).jpeg) no-repeat 50%/cover;
  color: #fff;
  position: relative;
  display: flex;
  align-items: center;
}

.counter-conteiner{
  position: absolute;
  top: 100px;
  right: 100px;
  display: flex;
  align-items: center;

}
.counter-body{
  width: 50px;
  height: 50px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 40px;
  overflow: hidden;
}
.counter{
  width: 100%;
  text-align: center;
  animation: start 3s forwards;
}
.title1{
  font-family: "Caveat";
  font-weight: 700;
}

@keyframes start{
  0%{
    transform: translateY(0px);
  }
  100%{
    transform: translateY(-2880px);
  }
}
@media(width <= 992px){
  body{
    /* background:url(../img/bg-1.jpg) no-repeat 50%/cover; */
    background: black;
  }
  .navbar{
    display: none;
  }
  .counter-conteiner{
    position: absolute;
    top: 20px;
    left: 10px;
    display: flex;
    align-items: center;
    margin: 0;
  }
  .counter-conteiner .title1{
    font-size: 33px;
  }
  .counter-body{
    width: 60px;
    height: 60px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 40px;
    overflow: hidden;
  }


}

  
 
  
 
  
 
  /*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
  .container{
    margin-left: 10vw;
  }


  
  .header h1 {
    font-size: 55px;
    margin: 30px 0 0 0;
    padding: 0;
    font-family: "Rubik Bubbles";
    letter-spacing: 4px;
    animation: show 3s;
  
  }
  .header p{
    font-size: 40px;
  }

  @keyframes show{
    0%{
      opacity: 0;
      transform: translateY(50px);
     
    }
    100%{
      opacity: 1;
      transform: translateY(0px);
    }
  }
  .header h1 a span{
    color: #18d26e;
  }
  
  #header h1 a,#header h1 a:hover {
    color: #fff;
    line-height: 1;
    display: inline-block;
    text-decoration: none;
  }
  


  
  #header .social-links {
    margin-top: 40px;
    margin-left: 10vw;
    display: flex;
  }
  
  #header .social-links a {
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    line-height: 1;
    margin-right: 8px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }
  
  #header .social-links a:hover {
    background: #18d26e;
  }
  
  @media (max-width: 992px) {
    #header h1 {
      font-size: 6vw;
    }
 
  
    #header .social-links {
      margin-top: 15px;
    }
  
    #header .container {
      margin-top: 160px;
      margin-left: 20px;
    }
    .container .title1{
      font-size: 30px;
    }
    
  }
  

  

.navbar {
    padding: 0;
    margin-top: 35px;
    animation: show 5s;

  }

  .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }
  
  .navbar li {
    position: relative;
  }
  
  .navbar li+li {
    margin-left: 30px;
  }
  
  .nav-link,.nav-link:focus {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    font-family: "Caveat";
    font-size: 22px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
    white-space: nowrap;
    transition: 0.3s;
  }
  
  .nav-link:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -4px;
    left: 0;
    background-color: #18d26e;
    visibility: hidden;
    width: 0px;
    transition: all 0.3s ease-in-out 0s;
  }
  
  .nav-link:hover:before, .navbar li:hover>a:before, .navbar .active:before {
    visibility: visible;
    width: 35px;
  }
  
  .navbar a:hover,
  .navbar .active,
  .navbar .active:focus,
  .navbar li:hover>a {
    color: #fff;
  }
.social-links{
  animation: show 7s;
}

/* Бургер кнопка */
.burger{
  width: 40px;
  height: 40px;
  position: absolute;
  top: 10px;
  right: 20px;
  display: none;
  position: relative;
}
.burger__line1,.burger__line2,.burger__line3{
  width: 40px;
  height: 3px;
  background-color: white;
  position: absolute;
}
.burger__line1{
  top: 0px;
}
.burger__line2{
  top: 20px;
}
.burger__line3{
  top: 40px;
}



  .snow{
    --animation-name: snowfall;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    pointer-events: none;
  }
  .snow__flake{
    position: relative;
    top: -1.5em;
    color: #c1dcec;
    animation-name: var(--animation-name);
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    will-change: transform;
  }
  @keyframes snowfall{
    0%{
      transform: translateY(0);
    }
    100%{
      transform: translateY(101vh);
    }
  }
  @media(max-width:992px){
    .burger{
      margin: 0;
      width: 40px;
      height: 40px;
      position: absolute;
      top: 10px;
      right: 10px;
      display: block;
    }
  }